{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>
<h1>Cadastro de Ocorrências</h1>
<form method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
      <div >
    {{ form|crispy }}
       <p><input type="submit" value="Salvar"></p>
          </div>
  </form>
</body>
{% endblock %}