{% extends "base.html" %}

{% block title %}Ocorrências{% endblock %}

{% block content %}
    <div >
      <div>
      <form class=="form-inline my-2 my-lg-0 pull-right">
        <label>Data Inicial  </label>
        <input  class="form-control ml-sm-2" name="start_date" type="date"/>
        <label>Data Final  </label>
        <input  class="form-control ml-sm-2" name="end_date" type="date"/>
      </div>

    </div>
<button class="btn-primary my-2 my-sm-0 type=submit">  Pesquisar  </button>

  </div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr nowrap="true">

        <th scope="col">id</th>
        <th scope="col">Data</th>
        <th scope="col">Propriedade</th>
        <th scope="col">Cultura</th>
        <th scope="col">Praga</th>
        <th scope="col">Hectares</th>
        <th scope="col">Prejuizo R$</th>
        <th scope="col">Status</th>
        <th scope="col">Imagem</th>
        <th scope="col">Observações</th>
      </tr>
    </thead>
    <tbody>

          {% for reg in page.object_list %}
          <tr>
            <td><a type="hidden" href="{% url 'visualizar_imagem' reg.id_ocorrencia %}">{{reg.id_ocorrencia}} </a></td>
            <td>{{reg.inserido}}</td>
            <td>{{reg.nome_propriedade}}</td>
            <td>{{reg.cultura}}</td>
            <td>{{reg.praga}}</td>
            <td>{{reg.hectares}}</td>
            <td>{{reg.prejuizo|floatformat:2}}</td>
            <td>{{reg.status}}</td>
            <td>{{reg.imagem}}</td>
            <td nowrap="true">{{reg.observacao}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if page.has_previous %}
      <a href="{% url 'ocorrencias' %}?page={{page.previous_page_number}}"> Anterior </a>

    {% endif %}
    {% if page.has_next %}
      <a href="{% url 'ocorrencias' %}?page={{page.next_page_number}}"> Próxima </a>
    {% endif %}
</div>





{% endblock %}